@use "././base/variables" as v;

.tagsList {
    width: calc(100% - 20rem);
    padding-right: 1.5rem;
    a {
        font-size: 1.2rem;
        background-color: v.$black;
        color: v.$white;
        padding: 0.6rem 1rem;
        border-radius: 0.4rem;
        display: inline-block;
        transition: all 0.3s ease;

        &:hover {
            background-color: v.$green;
        }
    }
}

.tagList__menu {
    width: 7rem;
}

.tagList__cnt {
    width: calc(100% - 7rem);
}

.searchNav {
  width: 20rem;
  form {
    input {
      border: 0.1rem solid v.$black;
      font-size: 1.3rem;
      padding: 0.8rem 1rem;
      border-radius: 0.5rem;
      width: 100%;

      &:focus,
      &:hover {
        outline: none;
      }
    }
  }
}
