@use 'variables' as v;

*{
    font-family: v.$font;
    box-sizing: border-box;
    font-size: 62.5%;
}

a{
    color: v.$green;
    text-decoration: none;
    &:hover {
        color: v.$greenDark;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.mb-2 {
    margin-bottom: 2rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}

.height-full {
    height: 100%;
}

.trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}